/* GENERICO CSS  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mynerve', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.boxedLarge {
    max-width: 75rem;
    
}
.boxedSmall {
    max-width: 62.5rem;
    
}
.boxed100w {
    width: 100%;
}
.empyblock {
    width: 100%;
    background-color: red;
} 
.inlineBlock {
    display: inline-block;
}
.dispNone {
    display: none;
}
.textCenter {
    text-align: center;
}
.italic {
    font-style: italic;
}
.borderRadius {
    border-radius: 1.5625rem;
}
/* WIDTH  */
.wid10 {
    width: 10%;
}
.wid15 {
    width: 15%;
}
.wid20 {
    width: 20%;
}
.wid30 {
    width: 30%;
}
.wid33 {
    width: 33%;
}
.wid40 {
    width: 40%;
}
.wid50 {
    width: 50%;
}
.wid60 {
    width: 60%;
}
.wid70 {
    width: 70%;
}
.wid79 {
    width: 79%;
}
.wid80 {
    width: 80%;
}
.wid90 {
    width: 90%;
}
.wid100 {
    width: 100%;
}
.hei100calc {
    height: calc(100% - 70px);
}
/* HEIGHT */
.h80vh {
    height:80vh;
}
.h20vh {
    height: 20vh;
}
.h30vh {
    height: 30vh;
}
.h30vw {
    height: 33vw;
}
.h75px {
    height: 75px;
} 
.h100 {
    height: 100%;
}
.fw900 {
    font-weight: 900;
} 
/* Padding  */
.pad5px {
    padding: 5px;
}
.pad05em {
    padding: 0.5em;
}
.pad5px {
    padding: 5px;
} 
.pad1em {
    padding: 1.0em;
}
.pad2em {
    padding:2em;
}
.pad4em {
    padding: 4em;
}
.padUpDown10px {
    padding: 10px 0;
}
.padSide {
    padding:0 3px;
}
.padSide1em {
    padding:0.5em 1em;
}
.padBottom0rem {
    padding-bottom: 0rem;
}
.pad3emBottom {
    padding-bottom: 3em;
}
.padright2em {
    padding-right:  2em;
}
.padding-left-5px {
    padding-left: 5px;
}
.padding-top-75 {
    padding-top:75px;
}
.overflowYHidden {
    overflow-y: scroll;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
    z-index: 999;
}
.opacity {
    opacity: 0.30;
}
/* Color  */
.cWhite {
    color: white;
}
.cGray {
    color: gray;
}
.cBlack {
    color: black;
}
.boxShadow {
    box-shadow: 0 0 0 16px #ffffff99 inset;
}

/* BG color  */
.bglightblack {
    background-color: #080b12;
}
.bglightgray2 {
    background-color: #282828;
}
.bglightblue2 {
    background-color:#141922;
}
.bgBlueButton {
    background-color:#0061ff;
}
.bgLightblue {
    background-color:#b5ddff;
}
.bgWhite {
    background-color: white;
}
.bgLightgreen {
    background-color:#a2d39b;
}
.bgBordeau {
    background-color:#61082b;
}
.bgBlue {
    background-color:#0093ce;
}
.bgRed {
    background-color: #ff1c1c;
}
.bgdirtyWhite{
    color: #f5f5f5;
}
.bgdarkBlue {
    background-color: #0084fd;
}
.bgYellow {
    background-color: yellow;
}
.bgBlack {
    background-color: black;
}
.bgBlack2 {
    background-color: #000000aa;
}
.bgViolet {
    background-color: #9792e4;
}
/* FLEX CSS */
.flex {
    display: flex;
}
.jtfcontFlexstart {
    justify-content: flex-start;
}
.jtfcontFlexend {
    justify-content: flex-end;
}
.column {
    flex-direction: column;
}
.jtfcontCenter {
    justify-content: center;
}
.jtfcontSpacebet {
    justify-content: space-between;
}
.jtfcontSpacearound {
    justify-content:space-around;
}
.jtfcontSpaceEvenly {
    justify-content:space-evenly;
}
.alignitmCenter {
    align-items: center;
}
.alignitmflexStart {
    align-items:flex-start
}
.alignitmflexEnd {
    align-items:flex-end;
}
.wrap {
    flex-wrap: wrap;
}
.gap05em {
    gap: 0.5em;
}
.gap1em {
    gap: 1em;
}
.gap2em {
    gap: 2em;
}
.gap3em {
    gap: 3em;
}
.Rowreverse {
    flex-direction: row-reverse;
}

/* Margin css  */
.margin0auto {
    margin:0 auto;
}
.margin1emauto {
    margin:1em auto;
}
.margin-top-15 {
    margin-top: .9375rem;
}
.margin-top-30 {
    margin-top: 1.875rem;
}
.margin-top-45 {
    margin-top: 2.8125rem;
}
.margin-top-60 {
    margin-top: 3.75rem;
}
.margin-top-75 {
    margin-top: 4.6875rem;
}
.margin-top-100 {
    margin-top: 6.25rem;
}

.margin-bottom-15 {
    margin-bottom: .9375rem;
}
.margin-bottom-30 {
    margin-bottom: 1.875rem;
}
.margin-bottom-45 {
    margin-bottom: 2.8125rem;
}
.margin-bottom-60 {
    margin-bottom: 3.75rem;
}
.margin-bottom-75 {
    margin-bottom: 4.6875rem;
}
.margin-bottom-100 {
    margin-bottom: 6.25rem;
}
.margin-right-5 {
    margin-right: .3125rem;
}
.margin-left-5 {
    margin-left: 5px;
}
.margin-left-10 {
    margin-left: 10px;
}

/* RESPONSIVE TABLET */
/* GENERICO CSS */

@media  screen and (min-width:768px) {
    
    /* Generic Tablet  */
    .pad5px-t {
        padding: 5px;
    }
    .pad05em-t {
        padding: 0.5em;
    }
    .pad5px-t {
        padding: 5px;
    } 
    .pad1em-t {
        padding: 1.0em;
    }
    .pad2em-t {
        padding:2em;
    }
    .pad4em-t {
        padding: 4em;
    }
    .padUpDown10px-t {
        padding: 10px 0;
    }
    .padSide-t {
        padding:0 3px;
    }
    .padSide1em-t {
        padding:0.5em 1em;
    }
    .padBottom0rem-t {
        padding-bottom: 0rem;
    }
    .pad3emBottom-t {
        padding-bottom: 3em;
    }
    .padright2em-t {
        padding-right:  2em;
    }
    .padding-left-5px-t {
        padding-left: 5px;
    }
    .pad10updown {
        padding:10px 0;
    }
    /* WIDTH */
    .wid10-t {
        width: 10%;
    }
    .wid15-t {
        width: 15%;
    }
    .wid20-t {
        width: 20%;
    }
    .wid30-t {
        width: 30%;
    }
    .wid33-t {
        width: 33%;
    }
    .wid40-t {
        width: 40%;
    }
    .wid50-t {
        width: 50%;
    }
    .wid60-t {
        width: 60%;
    }
    .wid70-t {
        width: 70%;
    }
    .wid79-t {
        width: 79%;
    }
    .wid80-t {
        width: 80%;
    }
    .wid90-t {
        width: 90%;
    }
    .wid100-t {
        width: 100%;
    }
    .wid100calc-t {
        width: calc(100% - 200px);
    }
    /* HEIGHT  */
    .h50-t {
        height: 50%;
    }
    /* Header  */
    header {
        width: 300px;
    }
    nav img {
        width:15%;
    }
    .dispNone-t {
        display:none;    
    }
    .dispInline-block-t {
        display: inline-block;
    }
    nav div:first-of-type h3 {
        color: white;
        font-weight: 900;
    }
    nav div:nth-child(2) h3 {
        color: white;
        margin-bottom: 15px;
    }
    nav button {
        font-size: 30px;
        font-weight: 900;
        padding:0 16px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    nav span {
        color: gray;
        font-size:17px;
        font-weight: 900;
    }
    nav p {
        color: gray;
        font-weight: 900;
    }
    /* MAIN  */
    .textCenter a {
        width:calc(100% / 3);
        padding:1em;
        
    }
    .album h1 {
        margin-bottom: 20px;
    }
    /* Footer  */
    














    /* FLEX CSS  */
    .flex-t {
        display: flex;
    }
    .row-t {
        flex-direction: row;
    }
    .jtfcontFlexstart-t {
        justify-content: flex-start;
    }
    .jtfcontFlexend-t {
        justify-content: flex-end;
    }
    .column-t {
        flex-direction: column;
    }
    .jtfcontCenter-t {
        justify-content: center;
    }
    .jtfcontSpacebet-t {
        justify-content: space-between;
    }
    .jtfcontSpacearound-t {
        justify-content:space-around;
    }
    .jtfcontSpaceEvenly-t {
        justify-content:space-evenly;
    }
    .alignitmCenter-t {
        align-items: center;
    }
    .alignitmflexStart-t {
        align-items:flex-start
    }
    .alignitmflexEnd.t {
        align-items:flex-end;
    }
    .wrap-t {
        flex-wrap: wrap;
    }
    .gap05em-t {
        gap: 0.5em;
    }
    .gap1em-t {
        gap: 1em;
    }
    .gap2em-t {
        gap: 2em;
    }
    .gap3em-t {
        gap: 3em;
    }
    .Rowreverse-t {
        flex-direction: row-reverse;
    }
    /* MARGIN  */
    .margin0auto-t {
        margin:0 auto;
    }
    .margin1emauto-t {
        margin:1em auto;
    }
    .margin-top-15-t {
        margin-top: .9375rem;
    }
    .margin-top-30-t {
        margin-top: 1.875rem;
    }
    .margin-top-45-t {
        margin-top: 2.8125rem;
    }
    .margin-top-60-t {
        margin-top: 3.75rem;
    }
    .margin-top-75-t {
        margin-top: 4.6875rem;
    }
    .margin-top-100-t {
        margin-top: 6.25rem;
    }
    
    .margin-bottom-15 {
        margin-bottom: .9375rem;
    }
    .margin-bottom-30 {
        margin-bottom: 1.875rem;
    }
    .margin-bottom-45 {
        margin-bottom: 2.8125rem;
    }
    .margin-bottom-60 {
        margin-bottom: 3.75rem;
    }
    .margin-bottom-75 {
        margin-bottom: 4.6875rem;
    }
    .margin-bottom-100 {
        margin-bottom: 6.25rem;
    }
    .margin-right-5-t {
        margin-right: .3125rem;
    }
    .margin-left-5-t {
        margin-left: 5px;
    }
    .margin-left-10-t {
        margin-left: 10px;
    }
    .margin-left-30-t {
        margin-left: 30px;
    }
    
}
/*-------------- DESKTOP --------------- */
@media  screen and (min-width:1023px) {
/* Generic CSS  */
.dispInline-block-d {
    display: inline-block;
}
.overflowY-d {
    overflow-y: auto;
}
    /* HEADER  */



/* MAIN  */
.card {
    width:calc(100% / 4 - 1em);
}
.card img {
    width: 100%;
}
.album {
    padding: 1em;
}
footer {
    height: 100px;
}
footer p {
    font-size: 15px;

}
footer span {
    font-size: 10px;
}
    /* FLEX CSS  */
.flex-d {
    display: flex;
}
.row-d {
    flex-direction: row;
}
.jtfcontFlexstart-d {
    justify-content: flex-start;
}
.jtfcontFlexend-d {
    justify-content: flex-end;
}
.column-d {
    flex-direction: column;
}
.jtfcontCenter-d {
    justify-content: center;
}
.jtfcontSpacebet-d {
    justify-content: space-between;
}
.jtfcontSpacearound-d {
    justify-content:space-around;
}
.jtfcontSpaceEvenly-d {
    justify-content:space-evenly;
}
.alignitmCenter-d {
    align-items: center;
}
.alignitmflexStart-d {
    align-items:flex-start
}
.alignitmflexEnd-d {
    align-items:flex-end;
}
.wrap-d {
    flex-wrap: wrap;
}
.wrapNo-d {
    flex-wrap: nowrap;
}
.gap05em-d {
    gap: 0.5em;
}
.gap1em-d {
    gap: 1em;
}
.gap2em-d {
    gap: 2em;
}
.gap3em-d {
    gap: 3em;
}
.Rowreverse-d {
    flex-direction: row-reverse;
}
/* MARGIN  */
.margin0auto-d {
    margin:0 auto;
}
.margin1emauto-d {
    margin:1em auto;
}

.margin-top-15-d {
    margin-top: .9375rem;
}
.margin-top-30-d {
    margin-top: 1.875rem;
}
.margin-top-45-d {
    margin-top: 2.8125rem;
}
.margin-top-60-d {
    margin-top: 3.75rem;
}
.margin-top-75-d {
    margin-top: 4.6875rem;
}
.margin-top-100-d {
    margin-top: 6.25rem;
}
.margin-bottom-15-d {
    margin-bottom: .9375rem;
}
.margin-bottom-30-d {
    margin-bottom: 1.875rem;
}
.margin-bottom-45-d {
    margin-bottom: 2.8125rem;
}
.margin-bottom-60-d {
    margin-bottom: 3.75rem;
}
.margin-bottom-75-d {
    margin-bottom: 4.6875rem;
}
.margin-bottom-100-d {
    margin-bottom: 6.25rem;
}
.margin-right-5-d {
    margin-right: .3125rem;
}
.margin-right-8px-d {
    margin-right: 8px;
}
.margin-left-5-d{
    margin-left: 5px;
}
.margin-left-10-d {
    margin-left: 10px;
}
.margin-left-30-d {
    margin-left: 30px;
}
.margin-left-50-d {
    margin-left: 50px;
}

/* PADDING  */
.pad5px-d {
    padding: 5px;
}
.pad05em-d {
    padding: 0.5em;
}
.pad5px-d {
    padding: 5px;
} 
.pad1em-d {
    padding: 1.0em;
}
.pad2em-d {
    padding:2em;
}
.pad4em-d {
    padding: 4em;
}
.padUpDown10px-d {
    padding: 10px 0;
}
.padSide-d {
    padding:0 3px;
}
.padSide1em-d {
    padding:0.5em 1em;
}
.padBottom0rem-d {
    padding-bottom: 0rem;
}
.pad3emBottom-d {
    padding-bottom: 3em;
}
.padright2em-d {
    padding-right:  2em;
}
.padding-left-5px-d {
    padding-left: 5px;
}
.pad10updown-d {
    padding:10px 0;
}
.lineHeight-d {
    line-height: 5.5em;
}
/* WIDTH */
.wid10-d {
    width: 10%;
}
.wid15-d {
    width: 15%;
}
.wid20-d {
    width: 20%;
}
.wid30-d {
    width: 30%;
}
.wid33-d {
    width: 33%;
}
.wid40-d {
    width: 40%;
}
.wid50-d {
    width: 50%;
}
.wid60-d {
    width: 60%;
}
.wid70-d {
    width: 70%;
}
.wid79-d {
    width: 79%;
}
.wid80-d {
    width: 80%;
}
.wid90-d {
    width: 90%;
}
.wid100-d {
    width: 100%;
}
.wid100calc-d {
    width: calc(100% - 300px);
}
.wid100calc-d-4 {
    width:calc(100% / 4);
}
}